viz-node-red/flow.json
[{"id":"e127f02a.eaea4","type":"ibmiot in","z":"ccce0d7b.ebc47","authentication":"apiKey","apiKey":"","inputType":"evt","deviceId":"motor1","applicationId":"","deviceType":"Device","eventType":"eventData","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":210,"y":160,"wires":[["1b201f3c.3d3e71"]]},{"id":"84ff6c5.bb3399","type":"debug","z":"ccce0d7b.ebc47","name":"","active":true,"console":"false","complete":"payload","x":762.8999938964844,"y":163.39996337890625,"wires":[]},{"id":"1b201f3c.3d3e71","type":"function","z":"ccce0d7b.ebc47","name":"","func":"var img = msg.payload.images[0].classifiers[0].classes[0].class;\nvar score = msg.payload.images[0].classifiers[0].classes[0].score;\nif(parseFloat(msg.payload.images[0].classifiers[0].classes[0].score)>=0.6){\n    if(msg.payload.images[0].classifiers[0].classes[0].class==\"fire\"){\n        msg.payload = \"image: \"+img+\"\\nscore: \"+score+\"\\nalert: EMERGENCY ALERT!\"+\"\\ntime: \"+new Date();\n    } else {\n        msg.payload = \"image: \"+img+\"\\nscore: \"+score+\"\\nalert: NO Emergency!\"+\"\\ntime: \"+Date();\n    }\n}\nelse return;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["84ff6c5.bb3399"]]}]
